/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
/* header */
header{
    position: fixed;
    width: 100%;
    height: 72px;
    z-index: 500;
    /* DEBUG */
    background-color: #0084fd;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container.desktop-link, ul{
    display: flex;
    align-items: center;
    gap: 0px 30px;
}
.container.desktop-link, li{
    list-style: none;
}
#get-started{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
#get-started a{
    color: black;
}
/* Get Started Hover */
#get-started:hover{
    background-color: black;
}
#get-started:hover a{
    color: #fff;
    text-decoration: none;
}

.container.desktop-link, a{
    text-decoration: none;
    color: #fff;
}
/* Nav Link Hover */
.container.desktop-link, a:hover{
    text-decoration: underline;
}



/* Main */
main{
    padding-top: 120px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 20px;
    margin-bottom: 20px;
    /* DEBUG */
    /* background-color: #0084fd; */
}
.big-card{
    display: flex;
    width: calc((100% / 3) * 2);
    padding: 20px;
    border-radius: 20px;
    background-color: #b5ddff;
}
#side-text{
    margin-top: 20px;
    width: 50%;
}
#side-text h3{
    font-size: 22px;
    color: #0084fd;
}
#side-text p{
    line-height: 30px;
    font-weight: bold;
    color: #5a6e7f;
}
.side-dext-margin{
    margin-bottom: 30px;
}
.app-store-button{
    padding: 10px 55px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #0084fd;
    cursor: pointer;
}
.side-image{
    width: 250px;
    position: relative;
    top: 50px;
    left: 100px;
}
.side-image img{
    width: 100%;
}

/* Smal Cards */
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    width: 360px;
    height: 350px;
    border-radius: 20px;
    background-color: #b5ddff;
}
.card i{
    font-size: 80px;
    color: #0084fd;
}
.card h3{
    font-size: 22px;
    margin: 25px 0px;
    color: #0084fd;
}
.card p{
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    color: #5a6e7f;
}

/* Full screen view */
.full-view{
    width: 100%;
    margin-top: 150px;
    background-color: #9792e4;
    /* DEBUG */
    height: auto;
}
.first-screen-view{
    display: flex;
    justify-content: center;
}
.small-container{
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: auto;
    /* DEBUG */
    /* background-color: #5a6e7f; */
}
.full-view-card{
    width: 50%;
    margin: 100px 0px;
    /* DEBUG */
    /* background-color: rgb(88, 88, 88); */
}
.full-view-card img{
    width: 100%;
}
.full-view-card h3{
    font-size: 30px;
    margin-top: 120px;
    color: #fff;
}
.full-view-card p{
    margin-top: 50px;
    color: #fff;
    line-height: 25px;
}
.small-full-view-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    margin-top: 300px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 40px;
    background-color: #fff;
}
.image-container{
    width: 300px;
    height: auto;
    margin-top: 20px;
    /* background-color: #5a6e7f; */
}
.image-container img{
    width: 100%;
}
.small-full-view-card h3{
    font-size: 24px;
    margin-top: 0px;
    color: #000;
}
.small-full-view-card p{
    color: #000;
    font-style: italic;
    text-align: center;
}
.strategic-arrow{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #9792e4;
    cursor: pointer;
}
/* TESTIMONIALS */
.testimonials-main-text{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}
.testimonial-center{
    text-align: center;
}
.testimonials-main-text > h2{
    font-size: 40px;
    margin: 30px 0px;
    color: #9792e4;
}

.people-testimonials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    background-color: #9792e4;
    border-radius: 40px;
}
.testimonial-face{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    background-color: #fff;
}
/* Faces */
.first-face{
    background-image: url(../img/testimonial1.jpg);
}
.second-face{
    background-image: url(../img/testimonial2.jpg);
}
.third-face{
    background-image: url(../img/testimonial3.jpg);
}


.testimonial-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 100px;
    /* DEBUG */
    /* background-color: #5a6e7f; */
}
.testimonial-txt > p{
    font-size: 18px;
    color: #fff;
}
.testimonial-txt > h2{
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
}

/* Full view */
.full-view > h2{
    font-size: 45px;
    color: #fff;
}
.second-screen-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 50px;
}
.full-view-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%;
    margin-top: 50px;
    padding-bottom: 50px;
    /* DEBUG */
    /* background-color: #000; */
    /* height: 500px; */
}
.benefit-card{
    width: 370px;
    height: 420px;
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.main-number{
    font-size: 80px;
    color: #9792e4;
}
.main-title{
    font-size: 24px;
    color: #9792e4;
    margin: 20px 0px;
}
.benefit-card p{
    color: #5a6e7f;
    line-height: 25px;
}
.more-button{
    padding: 10px 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 5px;
    border-radius: 40px;
    color: #fff;
    background-color: #9792e4;
    cursor: pointer;
}
/* About Us container */
.about-us-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.about-us-txt{
    font-size: 60px;
    color: #9792e4;
}
.about-us-paragraph{
    width: 55%;
}
.about-us-paragraph p{
    margin-top: 50px;
    line-height: 35px;
}
.tutor-container{
    /* width: 45%; */
    margin-left: 100px;
}
.tutor-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.tutor-image span{
    position: relative;
    left: 200px;
    font-size: 100px;
    color: #9792e4;
}
.tutor-text{
    font-size: 24px;
    color: #9792e4;
}
#linkedin-tutor-button{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #9792e4;
    cursor: pointer;
}
.last-full-view{
    display: flex;
    justify-content: center;
}
.get-started-container{
    width: 40%;
    padding: 50px 0px;
    text-align: center;
    /* DEBUG */
    /* height: 500px; */
    /* background-color: #5a6e7f; */
}
.get-started-container > span{
    opacity: 40%;
    font-size: 20px;
    color: #d5d4f4;
}
.get-started-container h3{
    font-size: 40px;
    color: #fff;
}
.get-started-container h2{
    font-size: 80px;
    color: #fdc15f;
}
.get-started-txt{
    line-height: 35px;
    color: #fff;
}

.end-get-started{
    margin: 30px 0px;
    padding: 25px 80px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #9792e4;
}
.copyright{
    color: #fff;
    opacity: 60%;
}
.copyright > a{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}
.period{
    font-size: 50px;
}

/* Footer */
footer{
    background-color: #333333;
    /* DEBUG */
    height: 300px;
}
.footer-center-paragraph{
    width: 30%;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#last-footer-direct{
    margin-top: 80px;
}
#last-footer-direct > a{
    color: #9792e4;
    text-decoration: underline;
    cursor: pointer;
}